main.page-main.main
  .top-offset
  +breadcrumbs([["Главная", "./"], ["Партнеры", "./"], ["День семьи 2022"]])
  include supply-equipment.pug
  include specialists.pug
  include participate-auctions.pug
  include terms-cooperation.pug
  include ../../parts/feedback.pug