section
  .site-container
    .participate-auctions
      .participate-auctions__content
        .participate-auctions__content-text
          | Участвуем в торгах на всех основных электронных торговых площадках
        a.participate-auctions__content-link(href="assets/images/participate-auctions/img.jpg" data-fancybox="gallery") Диплом успешный поставщик
      .specialists__list-item
        .specialists__list-item-img-wrapper
          img.specialists__list-item-img(src="assets/images/specialists/img-1.jpg" alt="")
        a.specialists__list-item-title(href="#") Электрика
        .specialists__list-item-box
          .specialists__list-item-cont
            .specialists__list-item-name Тарасов Денис
            a.specialists__list-item-phone(herf="tel:+79375227973") +7 937 522 7973
            a.specialists__list-item-email(href="mailto:tarasov.denis@compeq.ru") tarasov.denis@compeq.ru
      .specialists__list-item
        .specialists__list-item-img-wrapper
          img.specialists__list-item-img(src="assets/images/specialists/img-1.jpg" alt="")
        a.specialists__list-item-title(href="#") Электрика
        .specialists__list-item-box
          .specialists__list-item-cont
            .specialists__list-item-name Тарасов Денис
            a.specialists__list-item-phone(herf="tel:+79375227973") +7 937 522 7973
            a.specialists__list-item-email(href="mailto:tarasov.denis@compeq.ru") tarasov.denis@compeq.ru