section.supply-equipment__section
  .site-container
    .supply-equipment
      img.supply-equipment__img(src="assets/images/supply-equipment/bg-img.png" alt="")
      h1.supply-equipment__title Поставка оборудования
      p.supply-equipment__desc
        | Наш многолетний опыт сотрудничества с иностранными производителями (Евросоюза, США, Турции и Китая) в нынешних реалиях помогает нам поддерживать параллельный импорт оборудования, а также успешно находить проверенных производителей аналогичного оборудования в странах Востока.
      a.supply-equipment__button.button(href="#") Перейти в каталог
      .supply-equipment__name Региональные представительства
      ul.supply-equipment__items
        li.supply-equipment__item
          .supply-equipment__item-title Поволжье
          .supply-equipment__item-name Гисматуллов Фанис
          a.supply-equipment__item-phone(href="tel:89375228032") 8 (937)522-80-32
          a.supply-equipment__item-email(href="mailto:fanis.gismatullov@compeq.ru") fanis.gismatullov@compeq.ru
        li.supply-equipment__item
          .supply-equipment__item-title Урал
          .supply-equipment__item-name Александр Кумбралев
          a.supply-equipment__item-phone(href="tel:89270444059") 8 (927)044-40-59
          a.supply-equipment__item-email(href="mailto:alexander.kumbralev@compeq.ru") alexander.kumbralev@compeq.ru
        li.supply-equipment__item
          .supply-equipment__item-title Сибирь
          .supply-equipment__item-name Михаил Левен
          a.supply-equipment__item-phone(href="tel:89274938327") 8 (927)493-83-27
          a.supply-equipment__item-email(href="mailto:mikhail.leven@compeq.ru") mikhail.leven@compeq.ru