section.section.motors(style={"background-image": "url(assets/images/motors/bg-img.jpg)"})
  .top-offset
  .site-container
    .motors__wrapper
      h1.motors__title Поставка мотор-редукторов и электродвигателей
      ul.motors__list
        li.motors__list-item Качественный подбор по заводской табличке или техническому заданию
        li.motors__list-item Собственный сервисный центр для ремонта, гарантийного и постгарантийного обслуживания
        li.motors__list-item Консультация по вопросам эксплуатации
      a.motors__btn.button.button--secondary(href="#") Перейти в каталог
      p.motors__desc
        | Многолетний опыт поставок приводной техники и сотрудничество с иностранными производителями (Евросоюза, США, Турции и Китая)

section.section.motors-produnts
  .site-container
    .motors-produnts__title Замена европейских брендов турецкими и   китайскими производителями
    ul.motors-produnts__list
      li.motors-produnts__list-item
        h3.motors-produnts__list-item-title Мотор-редукторы
        .motors-produnts__list-item-img-wrapper
          img.motors-produnts__list-item-img(src="assets/images/motors-produnts/img-1.png" alt="")
        .motors-produnts__list-item-elements
          a.motors-produnts__list-item-element(href="#") YILMAZ
          a.motors-produnts__list-item-element(href="#") JIE
          a.motors-produnts__list-item-element(href="#") Starshine Drive
          a.motors-produnts__list-item-element(href="#") Innovarii
        a.motors-produnts__list-item-button.button.button--border(href="#") Перейти в каталог
      li.motors-produnts__list-item
        h3.motors-produnts__list-item-title Электродвигатели
        .motors-produnts__list-item-img-wrapper
          img.motors-produnts__list-item-img(src="assets/images/motors-produnts/img-2.png" alt="")
        .motors-produnts__list-item-elements
          a.motors-produnts__list-item-element(href="#") ELK
          a.motors-produnts__list-item-element(href="#") Gamak
          a.motors-produnts__list-item-element(href="#") ESQ
          a.motors-produnts__list-item-element(href="#") Innovarii
        a.motors-produnts__list-item-button.button.button--border(href="#") Перейти в каталог
      li.motors-produnts__list-item
        h3.motors-produnts__list-item-title Преобразователи частоты
        .motors-produnts__list-item-img-wrapper
          img.motors-produnts__list-item-img(src="assets/images/motors-produnts/img-3.png" alt="")
        .motors-produnts__list-item-elements
          a.motors-produnts__list-item-element(href="#") Delta Electronic
          a.motors-produnts__list-item-element(href="#") Optimus Drive
          a.motors-produnts__list-item-element(href="#") ELK
          a.motors-produnts__list-item-element(href="#") Innovert
        a.motors-produnts__list-item-button.button.button--border(href="#") Перейти в каталог

section.section.motors-import
  .site-container
    .motors-import__wrapper
      .motors-import__img-wrapper
        img.motors-import__img(src="assets/images/motors-import/map.png" alt="alt")
      .motors-import__inner
        h2.motors-import__title Параллельный импорт оборудования
        p.motors-import__desc
          | Осуществляем поставку из Европы в рамках действующего таможенного законодательства РФ с оформлением
          | таможенной декларации и всей необходимой документации такие бренды как: Bauer, Nord, Bonfiglioli,
          | FAM, Flender, ABB, Siemens и др.
        .motors-import__logos
          img.motors-import__logo(src="assets/images/motors-import/logo-1.png" alt="alt")
          img.motors-import__logo(src="assets/images/motors-import/logo-2.png" alt="alt")
          img.motors-import__logo(src="assets/images/motors-import/logo-3.png" alt="alt")
          img.motors-import__logo(src="assets/images/motors-import/logo-4.png" alt="alt")
          img.motors-import__logo(src="assets/images/motors-import/logo-5.png" alt="alt")
          img.motors-import__logo(src="assets/images/motors-import/logo-6.png" alt="alt")
          img.motors-import__logo(src="assets/images/motors-import/logo-7.png" alt="alt")

section.section.motors-service
  .site-container
    h2.motors-service__title Взаимодействие с профильными службами заказчика
    ul.motors-service__list
      li.motors-service__list-item
        .motors-service__list-item-inner
          .motors-service__list-item-title ОМТС
          .motors-service__list-item-img-wrapper
            img.motors-service__list-item-img(src='assets/images/motors-service/img-1.jpg' alt="alt")
          ul.motors-service__list-item-elements
            li.motors-service__list-item-element Качественный подбор по заводской табличке или ТЗ
            li.motors-service__list-item-element Гарантия на подбор
            li.motors-service__list-item-element Прямые контракты с производителями (гарант лучшей цены)
            li.motors-service__list-item-element Гарантия на предлагемую продукцию, в том числе на продукцию ввозимую через параллельный импорт
          a.motors-service__list-item-link(href="#") Опросный лист
        button.motors-service__list-item-btn-button.button Оставить заявку
      li.motors-service__list-item
        .motors-service__list-item-inner
          .motors-service__list-item-title ОМТС
          .motors-service__list-item-img-wrapper
            img.motors-service__list-item-img(src='assets/images/motors-service/img-1.jpg' alt="alt")
          ul.motors-service__list-item-elements
            li.motors-service__list-item-element Качественный подбор по заводской табличке или ТЗ
            li.motors-service__list-item-element Гарантия на подбор
            li.motors-service__list-item-element Прямые контракты с производителями (гарант лучшей цены)
            li.motors-service__list-item-element Гарантия на предлагемую продукцию, в том числе на продукцию ввозимую через параллельный импорт
          a.motors-service__list-item-link(href="#") Опросный лист
        button.motors-service__list-item-btn-button.button Оставить заявку
      li.motors-service__list-item
        .motors-service__list-item-inner
          .motors-service__list-item-title ОМТС
          .motors-service__list-item-img-wrapper
            img.motors-service__list-item-img(src='assets/images/motors-service/img-1.jpg' alt="alt")
          ul.motors-service__list-item-elements
            li.motors-service__list-item-element Качественный подбор по заводской табличке или ТЗ
            li.motors-service__list-item-element Гарантия на подбор
            li.motors-service__list-item-element Прямые контракты с производителями (гарант лучшей цены)
            li.motors-service__list-item-element Гарантия на предлагемую продукцию, в том числе на продукцию ввозимую через параллельный импорт
          a.motors-service__list-item-link(href="#") Опросный лист
        button.motors-service__list-item-btn-button.button Оставить заявку

section.section.motors-specialists
  .site-container
    h2.motors-specialists__title По всем вопросам вам помогут специалисты
    ul.motors-specialists__list
      each i in Array.from(Array(7).keys())
        li.motors-specialists__list-item
          .motors-specialists__list-item-img-wrapper
            img.motors-specialists__list-item-img(src="assets/images/people.jpg" alt="alt")
          .motors-specialists__list-item-name Мещеряков Илья
          .motors-specialists__list-item-spec Руководитель отдела “Приводная техника”
          a.motors-specialists__list-item-tel(href="tel:88007075705") 8 800 707-57-05
          a.motors-specialists__list-item-email(href="mailto:order@compeq.ru") order@compeq.ru


include ../../parts/feedback.pug