.top-offset
+breadcrumbs([["Главная", "./"], ["Проекты", "./"], ["Детальная", "./"],])
main.page-main.main
  section
    .site-container
      .news-flex
        h2.page-heading-h2
          | Дренчеры для выпойки коров
        span #Проекты

      p.projects-detail__text
        | Дренчер — устройство, предназначенное для принудительного поения КРС.
        | Устройство позволяет смешивать лекарственные или питательные вещества в баке
        | с жидкостью для дальнейшего опаивания коров или телят через зонд.

      ul.projects-detail__list
        li.projects-detail__item
          .projects-detail__block
            h3.projects-detail__heading Этапы производства
            p.projects-detail__card-text
              | Наш инженерный и сервисный центр выполнил задачу, при чём клиенту не пришлось искать сторонних подрядчиков - всю работу провели наши специалисты:

            button.projects-detail__btn Показать полностью

            .projects-detail__content
              .projects-detail__inner
                button.projects-detail__inner-btn
                  | Х
                ul
                  li Конструкторский отдел разработал чертежи и 3D-модель дренчера;
                  li Был закуплен насос и бак объемом 200 литров;
                  li По чертежам наши специалисты сформировали раму, установив на неё все необходимые элементы;
                  li Успешные тесты продемонстрировали заказчику работоспособность поильной установки.

          .projects-detail__block
            img(src="assets/images/card1241124412.jpg" class="projects-detail__card-img" alt="")

        li.projects-detail__item
          .projects-detail__block
            h3.projects-detail__heading Итог проекта
            p.projects-detail__card-text
              | Установка успешно была введена в эксплуатацию на предприятии. Ошибок и недочётов в работе клиентом выявлено не было.

            button.projects-detail__btn Показать полностью

            .projects-detail__content
              .projects-detail__inner
                button.projects-detail__inner-btn
                  | Х
                p
                  | Главной целью было создание рабочей установки, с чем команда инженерного и сервисного центра компании справилась. Это позволяет нам с уверенностью сообщить, что компания готова взять в работу изготовление поильных дренчеров для КРС с учётом ваших пожеланий.


          .projects-detail__block
            img(src="assets/images/card1241124412.jpg" class="projects-detail__card-img" alt="")

        li.projects-detail__item
          .projects-detail__block
            h3.projects-detail__heading Цель проекта
            p.projects-detail__card-text
              | Установка успешно была введена в эксплуатацию на предприятии. Ошибок и недочётов в работе клиентом выявлено не было.

            button.projects-detail__btn Показать полностью

            .projects-detail__content
              .projects-detail__inner
                button.projects-detail__inner-btn
                  | Х
                ul
                  li Конструкторский отдел разработал чертежи и 3D-модель дренчера;
                  li Был закуплен насос и бак объемом 200 литров;
                  li По чертежам наши специалисты сформировали раму, установив на неё все необходимые элементы;
                  li Успешные тесты продемонстрировали заказчику работоспособность поильной установки.
          .projects-detail__block
            img(src="assets/images/card1241124412.jpg" class="projects-detail__card-img" alt="")

  include ../../parts/projects.pug
