.top-offset
+breadcrumbs([["Главная", "./"], ["Проекты"]])
main.page-main.main
  section
    .site-container
      h2.page-heading-h2.projects__page-heading
        | Реализованные проекты

  section.section
    .site-container
      .projects
        ul.projects__list.grid-container
          li.projects__item
            article.project-card
              .project-card__img-wrapper
                img(src="assets/images/project-card/img1.jpg" alt="" class="project-card__img")
              a.tag(href="") Инжиниринговый сервисный центр
              h3.project-card__heading
                a(href="./project-detail.html")
                  | Дренчеры для выпойки коров
              .project-card__txt
                p
                  | Мобильные поильные дренчеры для КРС
          li.projects__item
            article.project-card
              .project-card__img-wrapper
                img(src="assets/images/project-card/img1.jpg" alt="" class="project-card__img")
              a.tag(href="") Инжиниринговый сервисный центр
              h3.project-card__heading
                a(href="./project-detail.html")
                  | Проект реконструкции линий парокондесатной системы
              .project-card__txt
                p
                  | Проект реконструкции линий, подбор и комплектация технологического

          li.projects__item
            article.project-card
              .project-card__img-wrapper
                img(src="assets/images/project-card/img3.jpg" alt="" class="project-card__img")
              a.tag(href="") Инжиниринговый сервисный центр
              h3.project-card__heading
                a(href="./project-detail.html")
                  | Проект реконструкции цеха сыров ООО «Азбука Сыра»
              .project-card__txt
                p
                  | Проект реконструкции цеха сыров: спроектирована система распределения пара и сбора конденсата с учётом технологических параметров оборудования. Исключены гидроудары и проблемы недогрева, связанные с недостатком пара.
