.top-offset
+breadcrumbs([["Главная", "./"], ["Посадочная страница"]])
main.page-main.main
  section
    .site-container
      h2.page-heading-h2
        | Инженерные решения для пароконденсатных систем
      p.page-base-text
        | Работаем с паровым системами и составляющим их оборудованием. Закрываем потребности всех служб Заказчика. Разрабатываем новые и оптимизируем действующие пароконденсатные системы.

  section.landing-page
    .site-container
      .landing-page-slider.page-swiper-parent
        .swiper.page-swiper(data-nav="true" data-pagination="true" data-num="true" data-loop="true")
          .swiper-pagination
          .page-swiper__nav.page-swiper__nav--numb
            button.page-swiper__btn.js-prev-slide
              +icon-mono("arrow-left")(width="24" height="24")
            .swiper-number
              | 2
            button.page-swiper__btn.js-next-slide
              +icon-mono("arrow-left")(width="24" height="24")
          .swiper-wrapper
            .swiper-slide
              img(src="assets/images/1231233121321321123.png" alt="")
            .swiper-slide
              img(src="assets/images/1231233121321321.png" alt="")
            .swiper-slide
              img(src="assets/images/1242434.png" alt="")

  section.landing-page-cards
    .site-container
      .landing-page-cards-list
        .landing-page-cards-item
          .landing-page-card
            h4.landing-page-card-heading
              | ОМТС
            ul
              li Качественный подбор
              li Несём гарантийные обязательства
              li Оборудование со склада
              li Прямой контракт с изготовителями

            .landing-page-card-btns
              a.landing-page-card-link(href="./") Каталог
              button.landing-page-card-link2(href="./") Подробнее
              img(src="assets/images/1231231232133112131212312123312123321.png" class="image" alt="")

            .landing-page-card-content
              .landing-page-card-content-inner
                button.close X
                .landing-page-card-content-head Отдел материально-технического снабжения
                p Для службы снабжения важно получить конкретное изделие и получить его в срок.
                p При этом менеджер ОМТС сталкивается со множеством вопросов:
                ul
                  li Не устраивают сроки;
                  li Нужный артикул невозможно заказать;
                  li Нет в наличии;
                  li Проблемы при поиске аналогов.

                p Знакомо? Наши инженеры помогут обработать ваш запрос:
                ul
                  li подберем по технической информации и фото, установленного оборудования;
                  li подберем по оригинальному производителю (бренду).


                p
                  | Мы предоставляем гарантийные обязательства на всю поставляемую продукцию.
                  | Оборудование всегда в наличии на нашем складе.

                p Отправляйте фото установленного оборудования на #[a(href="./") steam@compeq.ru;] звоните #[a(href="./") 8 (800) 707-57-05]

                button.button(data-path="modal") Оставить заявку

        .landing-page-cards-item
          .landing-page-card
            h4.landing-page-card-heading
              | Служба эксплуатации
            ul
              li экспертные знания;
              li плановое обслуживание;
              li семинары;
              li склад

            .landing-page-card-btns
              a.landing-page-card-link(href="./") Каталог
              button.landing-page-card-link2(href="./") Подробнее
              img(src="assets/images/12131232132131221312312313212312.png" class="image" alt="")

            .landing-page-card-content
              .landing-page-card-content-inner
                button.close X
                .landing-page-card-content-head Отдел материально-технического снабжения
                p Для службы снабжения важно получить конкретное изделие и получить его в срок.
                p При этом менеджер ОМТС сталкивается со множеством вопросов:
                ul
                  li Не устраивают сроки;
                  li Нужный артикул невозможно заказать;
                  li Нет в наличии;
                  li Проблемы при поиске аналогов.

                p Знакомо? Наши инженеры помогут обработать ваш запрос:
                ul
                  li подберем по технической информации и фото, установленного оборудования;
                  li подберем по оригинальному производителю (бренду).


                p
                  | Мы предоставляем гарантийные обязательства на всю поставляемую продукцию.
                  | Оборудование всегда в наличии на нашем складе.

                p Отправляйте фото установленного оборудования на #[a(href="./") steam@compeq.ru;] звоните #[a(href="./") 8 (800) 707-57-05]

                button.button(data-path="modal") Оставить заявку

        .landing-page-cards-item
          .landing-page-card
            h4.landing-page-card-heading
              | Служба по работе с проектами
            ul
              li Готовые типовые решения;
              li Авторский надзор;
              li Консультация инженера;

            .landing-page-card-btns
              a.landing-page-card-link(href="./") Каталог
              button.landing-page-card-link2(href="./") Подробнее
              img(src="assets/images/12425346457457567365.png" class="image" alt="")

            .landing-page-card-content
              .landing-page-card-content-inner
                button.close X
                .landing-page-card-content-head Отдел материально-технического снабжения
                p Для службы снабжения важно получить конкретное изделие и получить его в срок.
                p При этом менеджер ОМТС сталкивается со множеством вопросов:
                ul
                  li Не устраивают сроки;
                  li Нужный артикул невозможно заказать;
                  li Нет в наличии;
                  li Проблемы при поиске аналогов.

                p Знакомо? Наши инженеры помогут обработать ваш запрос:
                ul
                  li подберем по технической информации и фото, установленного оборудования;
                  li подберем по оригинальному производителю (бренду).


                p
                  | Мы предоставляем гарантийные обязательства на всю поставляемую продукцию.
                  | Оборудование всегда в наличии на нашем складе.

                p Отправляйте фото установленного оборудования на #[a(href="./") steam@compeq.ru;] звоните #[a(href="./") 8 (800) 707-57-05]

                button.button(data-path="modal") Оставить заявку

        .landing-page-cards-item
          .landing-page-card
            h4.landing-page-card-heading
              | Служба главного инженера
            ul
              li экспертные решения в достижении целей проекта
              li надежная цепочка поставок
              li инженерные решения «под ключ»

            .landing-page-card-btns
              a.landing-page-card-link(href="./") Проекты
              button.landing-page-card-link2(href="./") Подробнее
              img(src="assets/images/343123414124142.png" class="image" alt="")

            .landing-page-card-content
              .landing-page-card-content-inner
                button.close X
                .landing-page-card-content-head Отдел материально-технического снабжения
                p Для службы снабжения важно получить конкретное изделие и получить его в срок.
                p При этом менеджер ОМТС сталкивается со множеством вопросов:
                ul
                  li Не устраивают сроки;
                  li Нужный артикул невозможно заказать;
                  li Нет в наличии;
                  li Проблемы при поиске аналогов.

                p Знакомо? Наши инженеры помогут обработать ваш запрос:
                ul
                  li подберем по технической информации и фото, установленного оборудования;
                  li подберем по оригинальному производителю (бренду).


                p
                  | Мы предоставляем гарантийные обязательства на всю поставляемую продукцию.
                  | Оборудование всегда в наличии на нашем складе.

                p Отправляйте фото установленного оборудования на #[a(href="./") steam@compeq.ru;] звоните #[a(href="./") 8 (800) 707-57-05]

                button.button(data-path="modal") Оставить заявку

        .landing-page-cards-item
          .landing-page-card
            h4.landing-page-card-heading
              | Служба главного энергетика
            ul
              li рекомендации по снижению потребления энергии
              li Помощь в монтаже и вводе в эксплуатацию
              li Обеспечение запасными частями и последующая поддержка;

            .landing-page-card-btns
              a.landing-page-card-link(href="./") Проекты
              button.landing-page-card-link2(href="./") Подробнее
              img(src="assets/images/2342332232355233.png" class="image" alt="")

            .landing-page-card-content
              .landing-page-card-content-inner
                button.close X
                .landing-page-card-content-head Отдел материально-технического снабжения
                p Для службы снабжения важно получить конкретное изделие и получить его в срок.
                p При этом менеджер ОМТС сталкивается со множеством вопросов:
                ul
                  li Не устраивают сроки;
                  li Нужный артикул невозможно заказать;
                  li Нет в наличии;
                  li Проблемы при поиске аналогов.

                p Знакомо? Наши инженеры помогут обработать ваш запрос:
                ul
                  li подберем по технической информации и фото, установленного оборудования;
                  li подберем по оригинальному производителю (бренду).


                p
                  | Мы предоставляем гарантийные обязательства на всю поставляемую продукцию.
                  | Оборудование всегда в наличии на нашем складе.

                p Отправляйте фото установленного оборудования на #[a(href="./") steam@compeq.ru;] звоните #[a(href="./") 8 (800) 707-57-05]

                button.button(data-path="modal") Оставить заявку

        .landing-page-cards-item
          .landing-page-card
            h4.landing-page-card-heading
              | Технологический отдел
            ul
              li Библиотека типовых решений;
              li Богатый опыт инженерных разработок;
              li Помощь в монтаже и наладке

            .landing-page-card-btns
              a.landing-page-card-link(href="./") Проекты
              button.landing-page-card-link2(href="./") Подробнее
              img(src="assets/images/12412121241421212412.png" class="image" alt="")

            .landing-page-card-content
              .landing-page-card-content-inner
                button.close X
                .landing-page-card-content-head Отдел материально-технического снабжения
                p Для службы снабжения важно получить конкретное изделие и получить его в срок.
                p При этом менеджер ОМТС сталкивается со множеством вопросов:
                ul
                  li Не устраивают сроки;
                  li Нужный артикул невозможно заказать;
                  li Нет в наличии;
                  li Проблемы при поиске аналогов.

                p Знакомо? Наши инженеры помогут обработать ваш запрос:
                ul
                  li подберем по технической информации и фото, установленного оборудования;
                  li подберем по оригинальному производителю (бренду).


                p
                  | Мы предоставляем гарантийные обязательства на всю поставляемую продукцию.
                  | Оборудование всегда в наличии на нашем складе.

                p Отправляйте фото установленного оборудования на #[a(href="./") steam@compeq.ru;] звоните #[a(href="./") 8 (800) 707-57-05]

                button.button(data-path="modal") Оставить заявку


  section.section
    .site-container
      .landing-qoute
        .landing-qoute-block
          img(src="assets/images/12412523235235623523551234.png" class="landing-qoute-img" alt="")
          .landing-qoute-author
            | Галимов Асхат
          .landing-qoute-desc
            | Руководитель отдела #[br] “Пароконденсатные системы”
            a(href="tel:+7 (927) 034-56-54") +7 (927) 034-56-54
            a(href="mailto:askhat.galimov@compeq.ru") askhat.galimov@compeq.ru
        .landing-qoute-block
          .landing-qoute-heading Миссия отдела
          p.landing-qoute-text
            | Как инженер с многолетним стажем, я могу уверенно сообщить, что работать с продукцией низкого качества и менять её раз в полгода - это нормально. Но и тезис “дорого = практично” не является верным. Мы в “Комплексном оснащении” трудимся над тем, чтобы найти идеальный баланс между качественными комплектующими и ценовой политикой производителей. Стараемся достичь максимально возможных показателей системы в заданных условиях, чтобы Заказчик не ещё очень долгое время.

  section.section
    .site-container
      ul.landing-people
        li.landing-people-item
          .landing-people-item-block
            img(src="assets/images/1123423523542362562q3462346q3q6434.png" alt="")
          .landing-people-item-block
            .landing-people-item-label1 Регион Сибирь
            .landing-people-item-label2 Левен Михаил
            .landing-people-item-label3 Ведущий инженер
            .landing-people-item-labels
              a(href="tel:+7 (927) 034-56-54") +7 (927) 034-56-54
              a(href="mailto:askhat.galimov@compeq.ru") mikhail.leven@compeq.ru

        li.landing-people-item
          .landing-people-item-block
            img(src="assets/images/12341231235235523235352.png" alt="")
          .landing-people-item-block
            .landing-people-item-label1 Регион Урал
            .landing-people-item-label2 Кумбралёв Александр
            .landing-people-item-label3 Ведущий инженер
            .landing-people-item-labels
              a(href="tel:+7 (927) 034-56-54") +7 (927) 034-56-54
              a(href="mailto:alexander.kumbralev@compeq.ru") alexander.kumbralev@compeq.ru

        li.landing-people-item
          .landing-people-item-block
            img(src="assets/images/32463577453.png" alt="")
          .landing-people-item-block
            .landing-people-item-label1 Поволжье
            .landing-people-item-label2 Клюкина Дарья
            .landing-people-item-label3 Специалист по обработке заказов
            .landing-people-item-labels
              a(href="tel:+7 (927) 034-56-54") +7 (927) 034-56-54
              a(href="mailto:order@compeq.ru") order@compeq.ru

  include ../../parts/feedback.pug
