extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "HSK-20/Конденсатоотводчики"
  - const siteLang = "ru"

block content
  include pages/catalog-card/main.pug
