extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "Доставка"
  - const siteLang = "ru"
  - const name = "delivery"

block content
  include pages/delivery/main.pug
