extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "Доставка"
  - const siteLang = "ru"
  - const name = "engineering"

block content
  include pages/engineering/main.pug
