extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "Оборудование для птицефабрик"
  - const siteLang = "ru"
  - const name = "main"

block content
  include pages/equipment/main.pug
