extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "Поставка мотор-редукторов и электродвигателей"
  - const siteLang = "ru"
  - const name = "main"

block content
  include pages/motors/main.pug