extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "Ремонт и обслуживание"
  - const siteLang = "ru"

block content
  include pages/selection/main.pug
