extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "Поставка оборудования"
  - const siteLang = "ru"
  - const name = "service"

block content
  include pages/supply-equipment/main.pug
