section.section.intro(style={"background-image": "url(assets/images/intro-block/poultry-farm.jpg)"})
  .top-offset
  +breadcrumbs([["Главная", "./"], ["Оборудование для птицефабрик"]])(class="breadcrumbs--white")
  .site-container
    h1.visually-hidden Оборудование для птицефабрик
    .intro__inner
      .intro__title Оборудование для птицефабрик
      p.intro__desc
        | современные решения для птицефабрик промышленного масштаба
      .intro__content
        .intro__box
          .intro__logo-wrapper
            img.intro__logo(src="assets/images/intro-block/logo-azim.png" alt="alt")
            a.intro__logo-link(href="https://www.azim-tav.com.tr/") www.azim-tav.com
          p.intro__topic
            | Наш надежный партнёр - специализирующийся в проектировании и производстве современного оборудования для птицефабрик, работающих по методу “интенсивного хозяйства” 
          a.intro__box-link(href="#")
            | Подробнее
        .intro__links
          a(href="mailto:order@compeq.ru") order@compeq.ru
          a(href="tel:+78007075705") 8 800 707-57-05
          a(href="/" class="intro__link-sbis")
            | Проверка на СБИС
            +icon-mono("link")(width="24" height="24")
      .intro__advantages-box
        ul.intro__advantages-box-list
          li.intro__advantages-box-item
            | Повышенная производительность птицефабрики
          li.intro__advantages-box-item
            | Ускоренный возврат инвестиций
          li.intro__advantages-box-item
            | Минимизация рисков
        img.intro__advantages-box-checked-icon(src="assets/images/intro-block/checked.png" alt="alt")

section
  .site-container-2
    .supplied-equipment
      h2.supplied-equipment__legend
        | Поставляемое оборудование
      .supplied-equipment__slider-wrapper
        .supplied-equipment__slider
          ul.supplied-equipment__list.swiper-wrapper
            li.swiper-slide.supplied-equipment__item
              img.swiper-slide.supplied-equipment__item-img(src="assets/images/equipment/supplied-equipment-1.jpg" alt="alt")
              .supplied-equipment__item-box
                h3.supplied-equipment__item-box-title
                  | Клетки для выращивания цыплят
                button.supplied-equipment__item-box-link(data-path="modal") Подробнее
            li.swiper-slide.supplied-equipment__item
              img.swiper-slide.supplied-equipment__item-img(src="assets/images/equipment/supplied-equipment-2.jpg" alt="alt")
              .supplied-equipment__item-box
                h3.supplied-equipment__item-box-title
                  | Оборудование для родительского стада
                button.supplied-equipment__item-box-link(data-path="modal") Подробнее
            li.swiper-slide.supplied-equipment__item
              img.swiper-slide.supplied-equipment__item-img(src="assets/images/equipment/supplied-equipment-3.jpg" alt="alt")
              .supplied-equipment__item-box
                h3.supplied-equipment__item-box-title
                  | Секционные клетки для кур несушек 
                button.supplied-equipment__item-box-link(data-path="modal") Подробнее
            li.swiper-slide.supplied-equipment__item
              img.swiper-slide.supplied-equipment__item-img(src="assets/images/equipment/supplied-equipment-2.jpg" alt="alt")
              .supplied-equipment__item-box
                h3.supplied-equipment__item-box-title
                  | Оборудование для родительского стада
                button.supplied-equipment__item-box-link(data-path="modal") Подробнее
        .supplied-equipment__swiper-navigation
          button.supplied-equipment__swiper-next
            img(src="assets/images/equipment/button-arrow.png" alt="alt")

section
  .site-container-2
    .equipment-reviews 
      .equipment-reviews__user
        img.equipment-reviews__user-img(src="assets/images/equipment/user.jpg" alt="alt")
        .equipment-reviews__user-name Королев Алексей
        .equipment-reviews__user-post Инженер по продажам
        a.equipment-reviews__user-phone(href="tel:+79274161526") +7 927 416 1526
        a.equipment-reviews__user-email(href="mailto:alexey.korolev@complgroup.ru") alexey.korolev@complgroup.ru
      blockquote.equipment-reviews__blockquote
        | Комплексное оснащение - официальный партнер Azim-Tav. <br>
        | На рынке с 2014 года. Имеем опыт работы с крупными <br>
        | агрофирмами и птицефабриками, знаем их проблемы и решаем их. <br>
        | Предоставляем гарантии из одних рук.
      
-
  whywe_list = [
    { name: "Проектирование", icon: "why-we-1" },
    { name: "Монтаж  и пусконаладка ", icon: "why-we-2" },
    { name: "Поддержание склада и запасных частей", icon: "why-we-3" },
    { name: "Логистика оборудования, ВЭД", icon: "why-we-4" },
    { name: "Техническое и послепродажное сопровождение", icon: "why-we-5" },
    { name: "Гарантия качества", icon: "why-we-6" }
  ]

section.section
  .site-container-2
    .why-we.why-we--modif
      h2.why-we__heading
        | Почему именно  мы?
      ul.why-we__list.grid-container
        for item in whywe_list
          li.why-we__item
            .why-we__img-wrapper
              img(src=`assets/images/equipment/${item.icon}.png` class="why-we__img" alt="")
            .why-we__item-text!= item.name

section.section
  .site-container
    .feedback.feedback--dark
      .feedback__block
        h2.feedback__heading.site-second-heading
          | Оставьте заявку
        p.feedback__text
          | На все обращения оперативно реагируют квалифицированные специалисты
      .feedback__block
        include ../../parts/form.pug
