section.section.intro.intro--modif(style={"background-image": "url(assets/images/intro-block/poultry-farm.jpg)"})
  .top-offset
  +breadcrumbs([["Главная", "./"], ["Оборудование для птицефабрик"]])(class="breadcrumbs--white")
  .site-container
    .intro__inner
      .intro__title Оборудование для птицефабрик
      .intro__content
        .intro__box
          p.intro__desc
            | Современные решения для птицефабрик промышленного масштаба
          img.intro__logo(src="assets/images/intro-block/logo-azim.png" alt="alt")
          .intro__shell
            p.intro__shell-topic
              | Наш надежный партнёр
            a.intro__shell-link(href="https://www.azim-tav.com.tr/") www.azim-tav.com
        .intro__links
          a(href="mailto:order@compeq.ru") order@compeq.ru
          a(href="tel:+78007075705") 8 800 707-57-05
          a(href="/" class="intro__link-sbis")
            | Проверка на СБИС
            +icon-mono("link")(width="24" height="24")

-
  suppliedEquipment__list = [
    {url: "supplied-equipment-1", text: "Клетки для выращивания цыплят"},
    {url: "supplied-equipment-2", text: "Клетки секционные для кур несушек"},
    {url: "supplied-equipment-3", text: "Оборудование для родительского стада"},
    {url: "supplied-equipment-4", text: "Напольное выращивание цыплят-бройлеров"},
    {url: "supplied-equipment-5", text: "Запчасти для обслуживания оборудования"},
  ]

section.section
  .site-container
    .supplied-equipment
      .supplied-equipment__items
        for elem in suppliedEquipment__list
          .supplied-equipment__item
            .supplied-equipment__item-box
              img.supplied-equipment__item-box-img(src=`assets/images/equipment/${elem.url}.jpg` alt="alt")
              .supplied-equipment__item-box-text= elem.text
            .supplied-equipment__item-content
              ul.supplied-equipment__item-content-list
                li.supplied-equipment__item-content-elem
                  | Секция
                li.supplied-equipment__item-content-elem
                  | Клетка
                li.supplied-equipment__item-content-elem
                  | Система кормления
              button.button.supplied-equipment__item-btn(data-path="modal-equipment") Подробнее

section.section
  .site-container
    .azim-equipment
      a.azim-equipment__img-link(href="assets/images/equipment/document.jpg" data-fancybox="gallery")
        img.azim-equipment__img(src="assets/images/equipment/document.jpg" alt="alt")
      .azim-equipment__box
        p.azim-equipment__box-text
          | #[span Azim-Tav] - наш надежный партнёр, специализирующийся в проектировании и производстве современного оборудования для птицефабрик, работающих по методу “интенсивного хозяйства” 
        .azim-equipment__content
          img.azim-equipment__checked-icon(src="assets/images/intro-block/checked.png" alt="alt")
          ul.azim-equipment__list
            li.azim-equipment__item
              | Повышенная производительность птицефабрики
            li.azim-equipment__item
              | Ускоренный возврат инвестиций
            li.azim-equipment__item
              | Минимизация рисков


-
  whyus_list = [
    { name: "Проектирование", icon: "why-we-1" },
    { name: "Монтаж  и пусконаладка ", icon: "why-we-2" },
    { name: "Поддержание склада и запасных частей", icon: "why-we-3" },
    { name: "Логистика оборудования, ВЭД", icon: "why-we-4" },
    { name: "Техническое и послепродажное сопровождение", icon: "why-we-5" },
    { name: "Гарантия качества", icon: "why-we-6" }
  ]

section.section
  .site-container
    .whyus.whyus--modif
      h2.whyus__heading.site-second-heading
        | Почему именно  мы?
      ul.whyus__list.grid-container
        for item in whyus_list
          li.whyus__item
            .whyus__img-wrapper
              img(src=`assets/images/equipment/${item.icon}.png` class="whyus__img" alt="")
            p!= item.name

section.section
  .site-container
    .equipment-reviews 
      .equipment-reviews__user
        img.equipment-reviews__user-img(src="assets/images/equipment/user.jpg" alt="alt")
        .equipment-reviews__user-name Королев Алексей
        .equipment-reviews__user-post Инженер по продажам
        a.equipment-reviews__user-phone(href="tel:+79274161526") +7 927 416 1526
        a.equipment-reviews__user-email(href="mailto:alexey.korolev@complgroup.ru") alexey.korolev@complgroup.ru
      blockquote.equipment-reviews__blockquote
        | Комплексное оснащение - официальный партнер Azim-Tav. <br>
        | На рынке с 2014 года. <br>
        | Имеем опыт работы с крупными агрофирмами и птицефабриками, знаем <br>
        | их проблемы и решаем их. Предоставляем гарантии из одних рук.

section.section
  .site-container
    .feedback.feedback--dark
      .feedback__block
        h2.feedback__heading.site-second-heading
          | Оставьте заявку
        p.feedback__text
          | На все обращения оперативно реагируют квалифицированные специалисты
      .feedback__block
        include ../../parts/form.pug
