-
  catalog = [
    {
      name: "Трубопроводная арматура для пароконденсатных систем",
      text: "<p>Всё для установки пароконденсатных и других трубопроводных систем на предприятии",
    },
    {
      name: "Редукторы и мотор-редукторы",
      text: "<p>Ощепромшленные, индустриальные и специальные редукторы</p>"
    },
    {
      name: "Электродвигатели",
      text: "<p>Трёхфазные, взрывозащищенные, однофазные электродвигатели</p>"
    },
    {
      name: "Приводная техника",
      text: "<p>Приводные и тяговые цепи, приводные ремни, преобразователи частоты</p>"
    },
    {
      name: "Промышленная электроника",
      text: "Промышленные датчики, энкодеры, взрывозащита"
    },
    {
      name: "Промышленная химия",
      text: "<p>Эпоксидные, цианоакрилатные, контактные клеи, металлополимеры, противозадирные смазки и антикоррозионные средства</p>"
    }
  ]

.top-offset
+breadcrumbs([["Главная", "./"], ["Каталог"]])
main.page-main.main
  section.section-catalog
    .site-container
      h2.page-heading-h2
        | Каталог
      p.page-base-text
        | Электронный каталог продукции наших партнёров


  section.section
    .site-container
      ul.catalog
        for item, i in catalog
          li.catalog__item
            article.catalog-card
              img(src=`assets/images/catalog/img${i}.png` class="catalog-card__img" alt="")
              h2.catalog-card__heading
                a(href="./catalog-detail.html")= item.name
              .catalog-card__content!= item.text

      p.page-base-text
        | Электронный каталог продукции партнёров Комплексного оснащения  содержит не все позиции, что мы фактически можем Вам предоставить. Если вы не нашли какое-то промышленное оборудование на нашем сайте, то обратитесь к нашим менеджерам.
        | Также вы можете посмотреть наши каталоги в PDF формате онлайн.

  include ../../parts/feedback.pug
