.intro {
  min-height: 90vh;
  padding-bottom: var(--offset60);
  color: var(--color-white);
  background-color: var(--color-bg-minor);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include mq(sm) {
    min-height: 0;
  }

  &--modif {
    min-height: 130vh;

    @include mq(xl) {
      min-height: 100%;
    }

    .intro__inner {
      padding-top: 0;
      padding-bottom: 7rem;

      @include mq(xl) {
        padding-bottom: 0;
      }
    }

    .intro__links {
      font-weight: 400;

      @include mq(xl) {
        font-size: 2.4rem;
        line-height: 1.4;
        
        &>* {
          margin-bottom: 1rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      @include mq(sm) {
        margin-top: 3rem;
        font-size: 1.6rem;
        line-height: 1.4;
      }
    }
  }

  &__inner {
    padding-top: 6rem;

    @include mq(md) {
      padding-top: 3rem;
    }
  }

  &__legend {
    margin-bottom: 3rem;
    font: 600 16rem/1 var(--main-ff);
    text-transform: uppercase;

    &:nth-last-of-type(1) {
      margin-top: 0;
      margin-bottom: 0;
    }

    &::before {
      display: block;
      font: var(--font-h4);
      font-weight: 500;
      text-transform: lowercase;
      content: attr(data-legend);
    }

    @include mq(xl) {
      margin-bottom: 1rem;
      font: 600 11rem/12rem var(--main-ff);
    }

    @include mq(lg) {
      font: 600 8rem/1 var(--main-ff);

      &::before {
        font: var(--font-h6);
        font-weight: 500;
      }
    }

    @include mq(sm) {
      font: 700 4rem/1 var(--main-ff);

      &::before {
        font: var(--font-h6);
        font-weight: 500;
      }
    }
  }

  &__title {
    font: 700 6.4rem/1.4 var(--main-ff);
    max-width: 102.8rem;

    @include mq(xl) {
      max-width: 62rem;
      font: 700 4.8rem/1.4 var(--main-ff);
    }

    @include mq(custom, max, 1024) {
      font: 700 4rem/1.4 var(--main-ff);
    }

    @include mq(xxs) {
      font: 700 3.6rem/1.4 var(--main-ff);
    }

    @include mq(custom, max, 370) {
      font: 700 3.2rem/1.4 var(--main-ff);
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: var(--offset40);

    @include mq(md) {
      flex-direction: column;
      justify-content: stretch;
    }
  }

  &__text {
    max-width: 83.3rem;
    font: var(--font-h5);

    @include mq(xl) {
      max-width: 68rem;
      font: var(--font-h6);
    }

    @include mq(md) {
      font: var(--font-text-16-md);
    }
  }

  &__desc {
    max-width: 71.3rem;
    font: 400 3.2rem/1.2 var(--main-ff);
    margin-top: 7rem;

    @include mq(xl) {
      max-width: 65.8rem;
      margin-top: 2rem;
      font: 400 2.4rem/1.2 var(--main-ff);
    }

    @include mq(xxs) {

    }
  }

  &__logo-wrapper {
    margin-bottom: 7rem;
    display: flex;
    align-items: flex-end;

    @include mq(xl) {
      margin-bottom: 3rem;
    }

    @include mq(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__logo {
    max-width: 47.8rem;

    @include mq(xl) {
      max-width: 36rem;
    }

    @include mq(md) {
      margin-bottom: 2rem;
      max-width: 20rem;
    }
  }

  &__logo-link {
    margin-bottom: 2rem;
    margin-left: 1rem;
    color: rgba(255, 255, 255, 0.60);
    font: 400 2.4rem/1.2 var(--main-ff);
    text-decoration: underline;

    @include mq(md) {
      font: 400 1.5rem/1.2 var(--main-ff);
    }
  }

  &__topic {
    max-width: 118rem;
    font: 400 3.6rem/1.2 var(--additional-ff);

    @include mq(xl) {
      max-width: 65.4rem;
      font: 400 2.4rem/1.2 var(--additional-ff);
    }

    @include mq(md) {
      font: 400 2rem/1.2 var(--additional-ff);
    }

    @include mq(xxs) {
      font: 400 1.5rem/1.5 var(--additional-ff);
    }
  }
  
  &__box-link {
    display: inline-block;
    font: 500 2.8rem/3.6rem var(--main-ff);
    margin-top: 2.5rem;
    color: rgba(255, 255, 255, 0.60);
    text-decoration: underline;

    @include mq(xl) {
      font: 500 2rem/1.2 var(--main-ff);
    }

    @include mq(xxs) {
      margin-top: 1.5rem;
      font: 500 1.4rem/1.2 var(--main-ff);
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font: var(--font-text-20-md);
    text-align: right;
    margin-top: 5rem;

    @include mq(md) {
      margin-top: 0;
      align-items: flex-start;
      margin-top: var(--offset60);
      text-align: left;
    }
  }

  &__link-sbis {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 8rem;

    .icon {
      margin-left: 1.2rem;
      color: var(--color-white);
      transition: color var(--transition);
      fill: none;
      stroke: currentcolor;
      stroke-width: 2px;
    }

    &:hover {
      .icon {
        color: var(--color-text-accent);
      }
    }

    @include mq(md) {
      margin-top: 0;
    }
  }
}
