.top-offset
+breadcrumbs([["Главная", "./"], ["Партнеры", "./"], ["Hels"]])
main.page-main.main
  section
    .site-container
      h2.page-heading-h2.partners__heading
        | Hels
        span Официальный дилер

  section.section
    .site-container
      .partners__content
        .partners__content-wrapper
          .partners__content-block
            img(src="assets/images/pert.jpg" alt="")

          .partners__content-block
            p
              | Hels Endüstriyel Mamüller San. ve Tic. LTD.Şti - ведущий турецкий производитель промышленного оборудования. Свою деятельность начала в 2012 году, при этом имея в штате инженеров и конструкторов с
              | 20 летним стажем. Это позволило ей быстро занять передовые позиции и получить признание как надежный производитель в сфере производства комплектующих для гидравлических и пароконденсатных систем.

            p
              | Hels производит:

            ul
              li Hose - металлорукава;
              li Expansion joints - компенсаторы;
              li Level control - уровнемеры;
              li Steam traps - конденсатоотводчики;

            p
              | А также: запорную арматуру и фланцы.

            .partners-links
              a(href="./") Посмотреть сертификат
              a(href="./") Перейти в оналайн-каталог
              a(href="./") Каталог в PDF на русском
              a(href="./") PDF catalogue (Eng)

        h4
          | HELS - замена европейским изделиям
        p
          | Продукция разрабатывается с учётом всех европейских стандартов качества. Производственные мощности расположены на территории Турции, что обеспечивает лучшее соотношение цены и качества по сравнению с другими европейскими производителями.
          | Начиная с марта 2022 года, ООО "Комплексное оснащение" и Hels End. Mam. San. ve Tic. LTD.Şti начали совместную деятельность. Для многих производственных предприятий России это возможность заменить неисправное или вновь устанавливаемое оборудование на более выгодных условиях при сохранении технического соответствия.
        p Для подбора оборудования/комплектующих:

        ul
          li Заполните ЗАЯВКУ НА ПОДБОР ОБОРУДОВАНИЯ. Только для юрлиц.
          li звоните по тел.: #[a(href="tel:8 (800) 707-57-05") 8 (800) 707-57-05]


  include ../../parts/feedback.pug
