.equipment-reviews {
    display: flex;
    margin-bottom: 4.5rem;

    border-radius: 3.2rem;
    border: 0.1rem solid #9BA0AE;
    padding: 4rem 10rem;

    @include mq(xl) {
        padding: 4rem;
    }

    @include mq(md) {
        flex-direction: column;  
    }

    @include mq(sm) {
        padding: 3rem;
    }

    @include mq(xs) {
        padding: 2.4rem;
    }

    &__user {
        display: flex;
        flex-direction: column;
        margin-right: 5rem;
        max-width: 40rem;

        @include mq(xl) {
            margin-right: 2rem;
            max-width: 30rem;
        }

        @include mq(sm) {
            margin-right: 0;
            margin-bottom: 3rem;
            max-width: 100%;
        }
    }

    &__user-img {
        flex-shrink: 0;
        width: 16rem;
        height: 16rem;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 2rem;

        @include mq(xl) {
            width: 14.8rem;
            height: 14.8rem;
            margin-bottom: 1.5rem;
        }
    }

    &__user-name {
        font: 500 2.8rem/1.2 var(--main-ff);
        margin-bottom: 2.2rem;

        @include mq(xl) {
            font: 500 2rem/1.1 var(--main-ff);
            margin-bottom: 1rem;
        }
    }

    &__user-post,
    &__user-phone,
    &__user-email {
        font: 400 2.2rem/1.1 var(--main-ff);
        margin-bottom: 2rem;

        @include mq(xl) {
            font: 400 1.6rem/1.1 var(--main-ff);
        }

        @include mq(xs) {
            margin-bottom: 1.3rem;
        }
    }

    &__blockquote {
        position: relative;
        font: 400 2.8rem/1.2 var(--main-ff);
        margin-top: 6rem;

        @include mq(xl) {
            font: 400 2.4rem/1.1 var(--main-ff);
            margin-top: 4rem;
        }

        @include mq(sm) {
            margin-top: 1rem;
            font: 400 2.2rem/1.1 var(--main-ff);
        }

        @include mq(xs) {
            font: 400 1.8rem/1.1 var(--main-ff);
        }

        &::before {
            position: absolute;
            top: -5.4rem;
            right: 0;
            width: 6.5rem;
            height: 6.2rem;
            background-image: url("../images/equipment/quotes.svg");
            background-size: cover;
            content: '';

            @include mq(xl) {
                width: 5.1rem;
                height: 4.8rem;
                top: -4.3rem;
            }

            @include mq(sm) {
                top: -4rem;
            }
        }
    }
}