.equipment-advantages {

    max-width: 80rem;
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    color: rgba(0, 0, 0, 0.80);
    padding: 3.3rem 7.6rem 3.3rem 2.7rem;
    font: 600 4rem/5.2rem var(--additional-ff);
    margin-top: -20rem;
    margin-left: auto;

    @include mq(custom, max, 1536) {
        max-width: 68rem;
        font: 600 3.2rem/1.2 var(--additional-ff);
    }

    @include mq(xl) {
        max-width: 62rem;
        margin-top: 0;
        padding: 4.5rem 2.5rem 0;
        font: 600 2.4rem/1.1 var(--additional-ff);
    }

    @include mq(md) {
        padding: 2.2rem 1.2rem;
    }

    @include mq(sm) {
        align-items: flex-start;
        font: 600 1.8rem/1.1 var(--additional-ff);
    }
    
    
    &__list {

    }

    &__item {
        position: relative;
        padding-left: 6.4rem;

        @include mq(xl) {
            padding-left: 5rem;
        }

        @include mq(sm) {
            padding-left: 4rem;
        }

        &::before {
            position: absolute;
            top: 2.3rem;
            left: 2.4rem;
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.80);
            content: '';

            @include mq(xl) {
                width: 0.8rem;
                height: 0.8rem;
                top: 1rem;
            }

            @include mq(sm) {
                width: 0.6rem;
                height: 0.6rem;
                top: 0.6rem;
            }
        }
    }

    &__checked-icon{
        width: 14.2rem;
        height: 14.4rem;

        @include mq(xl) {
            width: 9rem;
            height: 9rem;
            order: -1;
        }

        @include mq(sm) {
            width: 5rem;
            height: 5rem;
            order: 0;
            margin-left: 2rem;
        }
    }
}