.supplied-equipment {
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem 4.3rem;

        @include mq(xl) {
            gap: 2.6rem;
        }

        @include mq(custom, max, 1028) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mq(sm) {
            gap: 1.6rem;
        }

        @include mq(custom, max, 640) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        border-radius: 2rem;
        border: 0.1rem solid var(--control-secondary, #E0E1E1);
        overflow: hidden;
    }

    &__item-box {
        position: relative;
        padding: 3.2rem;
        height: 32rem;
        display: flex;
        align-items: flex-end;

        @include mq(xl) {
            height: 24rem; 
            padding: 2.7rem;
        }

        @include mq(sm) {
            height: 22rem;
            padding: 2rem;
        }

        @include mq(custom, max, 380) {
            height: 19rem;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(34, 34, 34, 0.00) 0%, rgba(5, 9, 32, 0.70) 100%);
            backdrop-filter: blur(0.6000000238418579px);
            z-index: 2;
            content: '';
        }
    }

    &__item-box-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    &__item-box-text {
        position: relative;
        z-index: 3;
        font: 500 2.8rem/3.6rem var(--main-ff);
        color: var(--color-white);

        @include mq(xl) {
            font: 500 2.3rem/1.4 var(--main-ff);
        }

        @include mq(sm) {
            font: 500 2.1rem/1.4 var(--main-ff);
        }
    }

    &__item-content {
        padding: 2.4rem 3.2rem;

        @include mq(xl) {
            padding: 2rem 2.7rem;
        }

        @include mq(sm) {
            padding: 2rem;
        }

    }

    &__item-content-elem {
        position: relative;
        font: var(--font-text-20-bld);
        margin-bottom: 1.6rem;
        padding-left: 3.2rem;

        @include mq(xl) {
            padding-left: 2.4rem;
            margin-bottom: 1.3rem;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            position: absolute;
            left: 0.4rem;
            top: 0.8rem;
            width: 1.6rem;
            height: 1.6rem;
            border: 0.3rem solid #FF2727;
            border-radius: 50%;
            content: '';

            @include mq(custom, max, 1200) {
                top: 0.7rem;
                width: 1.2rem;
                height: 1.2rem;
            }
        }
    }

    &__item-btn {
        margin-top: 4rem;

        @include mq(xl) {
            margin-top: 3rem;
        }

        @include mq(sm) {
            margin-top: 2rem;
        }
    }
}